[submodule "travity-web"]
	path = travity-web
	url = https://github.com/travity-team/travity-web.git
[submodule "travity-backend"]
	path = travity-backend
	url = https://github.com/travity-team/travity-backend.git
