[submodule "WAGGLE_BACKEND"]
	path = WAGGLE_BACKEND
	url = https://github.com/WAGGLE-TEAM/WAGGLE_BACKEND
    branch = main
[submodule "WAGGLE_WEB_FRONTEND"]
	path = WAGGLE_WEB_FRONTEND
	url = https://github.com/WAGGLE-TEAM/WAGGLE_WEB_FRONTEND
    branch = main
